@model Superhero_Creator.Models.Superhero

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Superhero</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.superheroName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.superheroName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.superheroAlterEgo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.superheroAlterEgo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primarySuperheroAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primarySuperheroAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.secondarySuperheroAbility)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.secondarySuperheroAbility)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catchPhrase)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catchPhrase)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
